@import url("https://use.typekit.net/lmk1kcq.css");

:root {
  --almost-white: #fffefa;
  --almost-black: #261f1d;
  --light-blue: #cdd9e4;
  --light-green: #c5e3d8;
  --light-pink: #f0dee5;
  --fbp: freight-big-pro, serif;
  --qua: quasimoda, sans-serif;
  --ernie: adobe-handwriting-ernie, sans-serif;
}

/* LAYOUT
------------------------- */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1 {
  font: 3rem var(--fbp);
}

h2 {
  font: 7rem var(--fbp);
  text-transform: uppercase;
  text-align: center;
}

p {
  font: 2rem var(--qua);
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: 311px;
}

/* HEADER
------------------------- */
header {
  text-transform: uppercase;
  background: var(--light-pink);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 52px;
  width: 100%;
}

/* FOOTER
------------------------- */
footer {
  background: var(--light-pink);
  height: 530px;
  display: flex;
  flex-direction: column;
}

footer a {
  font: 2rem var(--qua);
  text-transform: uppercase;
}

/* ABOUT
------------------------- */
.about {
  background: var(--light-blue);
}
