@import url("https://use.typekit.net/lmk1kcq.css");

:root {
  --almost-white: #fffefa;
  --almost-black: #261f1d;
  --light-blue: #cdd9e4;
  --light-green: #c5e3d8;
  --light-pink: #f0dee5;
  --light-yellow: #fae1b3;
  --fbp: freight-big-pro, serif;
  --qua: quasimoda, sans-serif;
  --ernie: adobe-handwriting-ernie, sans-serif;
}

/* LAYOUT
------------------------- */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1 {
  font: 6rem var(--fbp);
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0;
}

h2 {
  font: 2rem var(--fbp);
}

h3 {
  font: 1.6rem var(--qua);
}

p {
  font: 1.6rem var(--qua);
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

/* HEADER & NAVIGATION
------------------------- */
header {
  text-transform: uppercase;
  background: var(--light-pink);
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */
  height: 52px;
  width: 100%;
  position: sticky;
  z-index: 2;
}

header a {
  font: 3rem var(--fbp);
  padding-left: 20px;
}

.menu-button {
  padding: 3px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu-button span {
  width: 25px;
  height: 2px;
  background: black;
  display: block;
  margin-bottom: 6px;
  transition: transform 0.6s cubic-bezier(0.4, 0, 1, 1);
}

.menu-button.active span:first-child {
  transform: translateY(3px) rotate(45deg);
}

.menu-button.active span:nth-child(2) {
  transform: translateY(-5px) rotate(-45deg);
}

nav {
  background: var(--light-pink);
  text-align: center;
  height: 117vh;
  width: 100%;
  border-radius: 0 0 100% 100% / 0 0 50% 50%;
  top: -117vh;
  position: absolute;
  transition: top 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

nav.active {
  top: 52px;
  z-index: 1;
}

nav li {
  font: 6rem var(--fbp);
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 20px;
}

.hover:hover {
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* -webkit-transform: perspective(1px) translateZ(0); */
  /* transform: perspective(1px) translateZ(0); */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hover:hover,
.hover:focus,
.hover:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.loader {
  background: url(/images/loader.png) center/cover no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* FOOTER
------------------------- */
footer {
  background: var(--light-pink);
  height: 600px;
  width: 100%;
}

.footer-content {
  max-width: 900px;
  height: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

footer a {
  font: 2rem var(--qua);
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 5px;
  display: inline-block;
}

footer img {
  width: 110px;
  height: auto;
  margin: 0 auto;
}

.footer-links {
  margin-bottom: 30px;
}

.footer-content p:nth-child(4),
.footer-content p:nth-child(6) {
  margin-bottom: 30px;
}

/* HOME
------------------------- */
.latest-posts {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  margin-bottom: 50px;
}

.latest-posts h1 {
  font-size: 3rem;
  text-align: left;
}

.latest-content {
  width: 100%;
  margin: 0 auto;
}

.carousel-btn {
  display: none;
}

.blog-button {
  font: 2rem var(--qua);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--light-green);
  width: 180px;
  height: 40px;
  border: 5px;
  border-radius: 50px;
  /* padding: 8px; */
  margin: 0 auto;
}

.lop-black {
  background: var(--almost-black);
  margin: 0 5% 30px;
}

.lop-background {
  background: url(/images/manki-kim-ZOeyUJB6t_Y-unsplash-downsized.jpg)
    right/cover no-repeat;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.lop-black p {
  color: var(--almost-white);
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 16px;
}

.lop-blue {
  background: var(--light-blue);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.lop-blue p {
  font: 1.6rem var(--fbp);
  margin: 0 5% 16px;
}

.lop-blue a {
  font: 2rem var(--qua);
  text-transform: uppercase;
  margin: 0 5%;
}

/* BLOG GRID HOME AND BLOGPAGE
-------------------------  */
.post-card {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.pc-background {
  text-align: center;
  background-color: rgba(197, 227, 216, 80%);
  height: 45px;
  padding: 12px 16px;
}

/*  BLOGPAGE
-------------------------  */

.blog {
  background: var(--almost-white);
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.blog-content {
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

.filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

select {
  font: 1.6rem var(--qua);
  background: var(--almost-white);
  border: none;
}

select:focus {
  box-shadow: none;
  outline: none;
}

.blog span {
  text-align: center;
  width: 100%;
}

.blogposts {
  /* padding: 0 5%; */
  /* width: 80%; */
  /* display: grid; */
  /* flex-direction: column; */
  /* padding: 0 5%; */
}

.blogposts-nav {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}

/*  BLOG SPECIFIC
-------------------------  */
.blogpost h1 {
  font-size: 2.5rem;
  padding: 30px 0 0 0;
}

.signature {
  font: 2rem var(--ernie);
  text-align: right;
}

.img-modal {
  width: 100%;
  height: 100%;
  background-color: var(--almost-white);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  z-index: 3;
}

.img-modal img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-bottom: 20px;
}

.img-modal p {
  color: grey;
}

.modal-close {
  position: absolute;
  top: 250px;
  right: 15px;
}

.img-modal span {
  width: 25px;
  height: 2px;
  background: black;
  display: block;
  margin-bottom: 6px;
}

.img-modal span:nth-child(1) {
  transform: rotate(45deg);
}

.img-modal span:nth-child(2) {
  transform: translateY(-8px) rotate(-45deg);
}

/*  GLOBAL LAYOUT
-------------------------  */
.sizing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  padding: 0 5%;
  margin: 0 auto;
}

.wp-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.wp-content h2 {
  text-align: center;
  margin-bottom: 30px;
}

.content p {
  margin-bottom: 10px;
}

/*  ABOUT
-------------------------  */
.about {
  background: var(--light-blue);
}

/*  CONTACT
-------------------------  */
.contact {
  background: var(--light-yellow);
}

.blogpost {
  background: var(--light-green);
}

.contact-info1,
.contact-info2 {
  margin-bottom: 30px;
}

.message-sent {
  background: var(--light-pink);
  text-align: center;
  height: 100vh;
  width: 100%;
  border-radius: 0 0 50% 50%;
  top: -100%;
  position: absolute;
  transition: top 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-sent.active {
  top: 0;
}

.message-sent img {
  width: 162px;
  margin-top: 55px;
  margin-bottom: 40px;
}

.message-sent p {
  margin: 0 16px 85px;
}

.message-sent a {
  font: 2rem var(--qua);
  text-transform: uppercase;
}

.form-container {
  font: 1.8rem var(--qua);
  display: flex;
  flex-direction: column;
  width: 100%;
}

label,
input,
textarea {
  display: block;
  font-size: 2rem;
}

input,
textarea {
  background: var(--light-yellow);
  border: 1px solid var(--almost-black);
  width: 100%;
}

label,
textarea {
  margin-bottom: 10px;
}

input {
  height: 40px;
  margin-bottom: 20px;
}

textarea {
  font: var(--qua);
  height: 180px;
}

input:focus,
textarea:focus {
  outline: 0.5px dotted black;
  outline-offset: 2px;
}

.contact button {
  color: var(--light-yellow);
  font: 1.8rem var(--qua);
  text-transform: uppercase;
  background-color: var(--almost-black);
  padding: 8px 60px;
  margin: 10px auto;
  display: block;
  border: none;
}

.form-error {
  display: none;
  font-size: 1.6rem;
  font-style: italic;
}

/* MEDIA QUERIES */

@media (min-width: 650px) {
  p {
    line-height: 1.8;
  }

  nav.active,
  .message-sent.active {
    top: 85px;
  }

  header {
    height: 85px;
  }

  header a {
    font-size: 5rem;
  }

  .menu-button {
    top: 36px;
  }

  .menu-button span {
    width: 60px;
    height: 3px;
  }

  .footer-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .latest-posts {
    align-items: center;
  }

  .latest-posts h1 {
    font-size: 4rem;
  }

  .latest-content {
    margin-bottom: 30px;
  }

  .blog-link {
    display: none;
  }

  .carousel-btn {
    width: 100%;
    /* display: flex; */
    align-items: center;
  }

  .prev,
  .next {
    background-color: var(--light-blue);
    cursor: pointer;
    position: absolute;
    top: 485px;
    width: 40px;
    height: 60px;
    padding: 1px 12px;
    color: var(--almost-black);
    transition: 0.6s ease;
    border-radius: 100%;
    text-align: center;
    font-size: 3rem;
  }

  .next {
    right: 10px;
  }

  .prev {
    left: 10px;
  }

  /* .prev:hover,
  .next:hover {
    background-color: rgba(205, 217, 228, 0.7);
  } */

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dotactive,
  .dot:hover {
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 19px;
  }

  .post-card {
    margin-bottom: 0;
  }

  .lop-black {
    margin: 0 110px 30px;
  }

  .lop-black p {
    font-size: 3.2rem;
  }
  .lop-background {
    height: 493px;
  }

  .lop-blue {
    height: 259px;
  }
  .lop-blue p {
    font-size: 3.3rem;
    text-align: center;
  }

  footer {
    height: 370px;
  }

  footer a {
    font-size: 3rem;
  }

  /* Blogpost & About */
  .blogposts {
    /* min-width: 640px;
    max-width: 1130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 19px;
    margin-bottom: 50px; */
  }

  .blog-grid-posts {
    margin-bottom: 30px;
  }

  .modal-close {
    top: 22%;
  }

  .img-modal {
    height: 110%;
    top: -13px;
  }

  .img-modal span {
    width: 40px;
  }

  .sizing,
  .footer-content {
    padding: 0 15%;
  }

  .signature {
    font-size: 2.5rem;
  }
}

@media (min-width: 1050px) {
  .img-modal img {
    /* width: 70%; */
  }

  .modal-close {
    top: 20%;
    right: 175px;
  }
}
